 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-title">A propos</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-justify">
                    <p>Salut! Moi c'est Pierre, fondateur de Crafteo et ingénieur passioné de <b>DevOps</b>. J'ai choisi de transmettre cette passion par la formation et le conseil en m'appuyant sur mes expériences en entreprise.</p>
                    <p>Mon objectif:</p>
                    <ul>
                        <li>Proposer des <b>formations orientées sur la pratique et l'échange</b> à l'opposé de formations souvent très théoriques</li>
                        <li>Conseiller entreprises et projets sur leurs <b>choix et orientations stratégiques liés à DevOps</b></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-justify">
                    <p>Les formations de Crafteo sont basées sur un format simple:</p>
                    <p><ul>
                        <li>Introduction à un concept théorique</li>
                        <li>Application dans un contexte proche de situation réelle</li>
                        <li>Discussion de cas et échanges</li>
                        <li>Repeat ;</li>
                    </ul></p>
                    <p>En atelier, les participants recherchent les solutions d'eux-même tout en étant accompagné par le formateur.</p>
                    <p><b>J'interviens sur Lyon, Paris et sur la France entière</b> selon vos besoins en formation et/ou expertise.</p>
                </div>
            </div>
        </div>
    </section>
     <section class="success highlight-primary">
         <div class="container">
             <div class="col-lg-6 col-lg-offset-3 text-center ">
                 <p><b>J'anime régulièrement des workshops d'introduction à DevOps et aux outils liés comme Docker, Ansible, etc...</b><br>
                     <b>N'hésitez pas à venir découvrir!</b></p>
             </div>
             <div class="col-lg-8 col-lg-offset-2 text-center ">
                 <a href="https://www.meetup.com/meetup-group-IzAHXpzE/events" class="btn btn-lg btn-outline">
                     Venez découvrir en participant à un workshop gratuit!
                 </a>
             </div>
         </div>
     </section>
