 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-title">A propos</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-justify">
                    <p>Salut! Moi c'est Pierre, fondateur de Crafteo et ingénieur passioné de DevOps. J'ai choisi de transmettre cette passion par la formation en m'appuyant sur mes expériences en entreprise.</p>
                    <p>Mon objectif: proposer des <b>formations orientées pratique</b> à l'opposé des formations très théorique et souvent ennuyeuse que j'ai pu vivre.</p>
                </div>
                <div class="col-lg-6 text-justify">
                    <p>Les formations de Crafteo sont basées sur un format simple:</p>
                    <p><ul>
                        <li>Introduction à un concept théorique</li>
                        <li>Application dans un contexte proche de situation réelle</li>
                        <li>Discussion de cas et échanges</li>
                        <li>Repeat ;</li>
                    </ul></p>
                    <p>En atelier les participants recherchent les solutions d'eux-même tout en étant accompagné par le formateur.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.meetup.com/meetup-group-IzAHXpzE/events" class="btn btn-lg btn-outline">
                        Venez découvrir en participant à un workshop gratuit!
                    </a>
                </div>
            </div>
        </div>
    </section>
