 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-title">À propos</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9  col-lg-offset-2 text-justify">
                    <p>Salut! Moi c'est Pierre, ingénieur passioné de <b>DevOps</b>. J'ai choisi de transmettre cette passion par la formation et le conseil en m'appuyant sur mes expériences en entreprise.</p>
                    <p>Les formations proposées sont <b>élligibles au CPF</b> (Compte Personnel Formation), travaillant en collaboration avec des organismes agréés. 
                        N'hésitez pas <a href="#contact">à me contacter</a>, à consulter <a href="#formations">les plaquettes de formation</a> ou <a href="https://blog.crafteo.io">visiter mon blog</a> pour en savoir plus !</p>
                    <br>
                    <img src="img/itsame-pedro.png" class="img-responsive img-about center-block" alt="email-logo">
                    <br>
                    <p>Mon objectif:</p>
                    <ul>
                        <li>Proposer des <b>formations orientées sur la pratique et l'échange</b></li>
                        <li>Conseiller entreprises et projets sur leurs <b>orientations et choix stratégiques liés à DevOps</b></li>
                    </ul>
                    <p>Les <b>formations</b> de Crafteo sont basées sur un format simple:</p>
                    <p><ul>
                        <li>Introduction à un concept théorique</li>
                        <li>Application dans un contexte proche de situation réelle</li>
                        <li>Discussion de cas et échanges</li>
                    </ul></p>
                    <p>Je conseil aussi projets et équipes sur la <b>mise en place de leurs démarches DevOps</b>:</p>
                    <ul>
                        <li>Quelles technologies, outils et méthodologies utiliser?</li>
                        <li>Comment définir une roadmap DevOps, par ou commencer?</li>
                        <li>Comment apporter une culture DevOps dans les équipes et projets?</li>
                    </ul>
                    <p>Je suis disponible partout en <b>France et en Suisse pour animer des formation en français ou en anglais</b>, ainsi qu'en remote et en présentiel sur Lyon & Paris selon vos besoins.</p>
            </div>
        </div>
    </section>