<section id="blog" class="success highlight-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Blog</h2>
                <hr class="separator-primary">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row training-row">
            <div class="col-lg-2 text-center"></div>
            <div class="col-lg-8 text-center">
                <p>I write technical articles about my experiences, best practices, technologies and ideas 
                    around tech & DevOps.</p>
                <p>
                     <a href= "https://blog.crafteo.io">Come and take a look !</a>
                </p>
            </div>
            <div class="col-lg-2 text-center"></div>
        </div>
    </div>
</section>