<section id="contact" class="success highlight-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Contact</h2>
                <hr class="separator-secondary">
            </div>
        </div>
    </div>
</section>
<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="crafteo-email">
                    <b>Pierre Beucher</b><br>
                    <b>Formateur DevOps</b><br>
                    <a href="mailto:pierre@crafteo.io"><b>pierre@crafteo.io</b></a>
                    <img src="img/crafte-logo-small.png" class="img-responsive center-block mail-image" alt="email-logo">
                </p>
            </div>
        </div>
    </div>
</section>