<section id="formations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Formations</h2>
                <hr class="star-primary">
            </div>
        </div>

        <!-- Docker -->
        <div class="row training-title">
            <div class="col-lg-6">
                <h2 class="text-center">Docker</h2>
                <img src="img/docker.png" class="img-responsive center-block" alt="docker-logo">
            </div>
            <div class="col-lg-6">
                <p>Formation complète sur l'outil Docker pour comprendre la notion de container et d'image et savoir utiliser Docker du développement à la production.</p>
                <p>Ateliers orientés sur des cas réels comme le passage d'une application sous Docker, le management d'une flotte de container en production,
                    la gestion des données et de backups ou les bonnes pratiques de sécurité.</p>

                <p>Overview de la formation:</p>
                <ul>
                    <li>Introduction à Docker et la containerisation</li>
                    <li>Docker Compose</li>
                    <li>Deep-dive: build, images, volumes et réseaux</li>
                    <li>Docker en production et concepts avancés</li>
                    <li>Outils et pratiques transverses</li>
                    <li>Introduction à l'orchestration avec Kubernetes</li>
                </ul>
            </div>
         </div>
        <div class="row">
            <div class="col-lg-6 text-justify">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">

            </div>
        </div>
        <hr>

        <!-- Workshop DevOps -->
        <div class="row training-title">
            <div class="col-lg-6">
                <p>Formation sous forme d'atelier réunissant théorie et pratique.
                    A partir d'une application existante simple, suivi d’un processus de
                    <b>passage en mode DevOps</b> comprenant:</p>
                <ul>
                    <li>Containerisation de l’application avec Docker</li>
                    <li>Intégration & Déploiement Continue (CI/CD) avec GitlabCI</li>
                    <li>Infrastructure as Code (IaC) avec Ansible & AWS</li>
                </ul>
                <p> L’objectif de la formation est de montrer le chemin à prendre et les difficultés
                    pour intégrer les méthodes et outillages DevOps au sein d’une application ou
                    un projet et le gain généré par leur utilisation.
                </p>
                <p>Le workshop se déroule sous forme de sprint. Le formateur propose le cadre
                    adapté aux participants en fonction de leurs capacité pour introduire chaque
                    concept et comprendre leur intérêt de façon concrète.</p>
            </div>
            <div class="col-lg-6">
                <h2 class="text-center">Workshop DevOps</h2>
                <img src="img/workshop.png" class="img-responsive center-block" alt="docker-logo">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 text-justify">


            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">

            </div>
        </div>

    </div>
</section>