<section id="formations" class="success highlight-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Formations</h2>
                <hr class="separator-secondary">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        {% assign myidx = 0 %}
        {% for post in site.posts %}
            {% if post.type == "formation" %}
                {% assign myidx = myidx | plus: 1 %}
                {% assign mymodulo = myidx | modulo: 2 %}
                <div class="row training-row">
                    {% if mymodulo == 0 %}
                    <div class="col-lg-6">
                        {{ post.content }}
                    </div>
                    {% endif %}
                    <div class="col-lg-6">
                        <h2 class="text-center formation-title">{{ post.title }}</h2>
                        <img src="img/{{ post.image }}" class="img-responsive center-block" alt="{{ post.title }}-logo">
                        <p class="text-center"><a href="{{ post.brochure }}" class="plaquette-download">Télécharger la plaquette</a></p>
                    </div>
                    {% if mymodulo == 1 %}
                    <div class="col-lg-6">
                        {{ post.content }}
                    </div>
                    {% endif %}
                </div>
                {% if site.posts.size > myidx %}
                <hr class="separator-primary">
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</section>