<!-- About Section -->
<section class="success" id="open-to-work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Open to work !</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-justify">
                
                <p>I'm open to work as a freelancer <b>fully or partially remote</b> and/or in <b>Lyon, France</b>. 
                    I can bring my experience to your team and projects as <b>DevOps Tech Lead, DevOps Architect or DevOps Expert</b>. 
                    Feel free to <a href=#contact>contact me</a> and <a href="https://crafteo-public-data.s3.eu-west-3.amazonaws.com/resume.pdf" >download my resume</a> !
                </p>
            </div>
        </div>
    </div>
</section>