<section id="training" class="success highlight-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Training and Mentoring</h2>
                <hr class="separator-secondary">
                <p>Duration: 2-3 days or split into 3h sessions.<br>
                Languages: 🇫🇷 🇬🇧 - Customizable content following your needs.<br>
                French nationals: eligible to <i>Compte Personnel de Formation (CPF)</i></p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        {% assign myidx = 0 %}
        {% for post in site.posts %}
            {% if post.type == "training" %}
                {% assign myidx = myidx | plus: 1 %}
                {% assign mymodulo = myidx | modulo: 2 %}
                <div class="row training-row">
                    {% if mymodulo == 0 %}
                    <div class="col-lg-6">
                        {{ post.content }}
                    </div>
                    {% endif %}
                    <div class="col-lg-6">
                        <h2 class="text-center formation-title">{{ post.title }}</h2>
                        <img src="img/{{ post.image }}" class="img-responsive center-block" alt="{{ post.title }}-logo">
                    </div>
                    {% if mymodulo == 1 %}
                    <div class="col-lg-6">
                        {{ post.content }}
                    </div>
                    {% endif %}
                </div>
                {% if site.posts.size > myidx %}
                <hr class="separator-primary">
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</section>